.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; // need to specify the same height as the child as the height was collapsed when the child was set to position absolute

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute; // this has the effect of placing the front and back on top of each other
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; // hides the back part of the element as we have 2 elements on top of each other this has the effect of only showing one at once
        border-radius: $default-border-radius;
        overflow: hidden; // hides the part that overflows (ensures the image don't cover up the rounded border)
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;  
        }

        &--back {
            background-color: green;  
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: $default-border-radius;  //clip-path has removed the border-radiuses set in the parent so need to re-add them
        border-top-right-radius: $default-border-radius;

        &--1 {
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark),
            url(../img/nat-5.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em),
                (min-width: 125em) {
                background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark),
                url(../img/nat-5-large.jpg);
            }
        }

        &--2 {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark),
            url(../img/nat-6.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em),
            (min-width: 125em) {
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark),
                url(../img/nat-6-large.jpg);
            }
        }

        &--3 {
            background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark),
            url(../img/nat-7.jpg);

            @media (min-resolution: 192dpi) and (min-width: 37.5em),
            (min-width: 125em) {
                background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark),
                url(../img/nat-7-large.jpg);
            }
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;  // ensures the padding is applied on both lines - treats element as if it's 2

        &--1 {
            background-image: linear-gradient(to right bottom, 
                rgba($color-secondary-light, .85), 
                rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
                rgba($color-primary-light, .85), 
                rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
                rgba($color-tertiary-light, .85), 
                rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto; // centres a block element inside another

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        @include centerHorizontalVertical;
        width: 90%; //need to set this so that the button within it doesn't get squished
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white; // so that other elements inherit it
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    // @include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
        only screen and (hover:none) {
            height: auto; 
            border-radius: $default-border-radius;
            background-color: $color-white;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0); 
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);   
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }
    
        &__details {
            padding: 1rem 3rem;
        }

        // BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%; 
            padding: 7rem 4rem 4rem 4rem;
        }
    
        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}