.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto; // centre a block element inside of another block element (here centres the row in the viewport)

    &:not(:last-child) {    // applies these rules to all rows except the last child
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    // use ^ for starts with
    // so here the rules will apply to all elements with a class that starts with "col-"
    // N.B. can also use *= for contains or $= for ends with
    [class^="col-"] {
        background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {       
            //calc function allows you to mix units
            // have to put sass functions inside #{}
        width: calcColWidth(1, 2);
        // width: calc((100% - #{$gutter-horizontal}) / 2); //100% of the width minus the gutter between the columns, divided by the number of columns
    }

    .col-1-of-3 { 
        width: calcColWidth(1, 3);      
        //  width: calc((100% - (#{$gutter-horizontal} * 2)) / 3); //100% of the width minus the 2 gutters between the columns, divided by 3
    }

    .col-2-of-3 {    
        width: calcColWidth(2, 3);   
        // width: calc( 2 * ((100% - (#{$gutter-horizontal} * 2)) / 3) + #{$gutter-horizontal}); //2 times the width of .col-1-of-3 plus the horizontal gutter
     }

    .col-1-of-4 {       
        width: calcColWidth(1, 4);
        // width: calc((100% - (#{$gutter-horizontal} * 3)) / 4); //100% of the width minus the 3 gutters between the columns, divided by 4
   }

   .col-2-of-4 {       
        width: calcColWidth(2, 4);
        // width: calc( 2 * ((100% - (#{$gutter-horizontal} * 3)) / 4) + #{$gutter-horizontal}); //2 times the width of .col-1-of-4 plus the horizontal gutter
    }

    .col-3-of-4 {       
        width: calcColWidth(3, 4);
        // width: calc( 3 * ((100% - (#{$gutter-horizontal} * 3)) / 4) + (2 * #{$gutter-horizontal})); //3 times the width of .col-1-of-4 plus the 2 horizontal gutters
    }
    
}